@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #ffffff34;
}


::-webkit-scrollbar-thumb {
  background: #292929;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.page {
  display: flex !important;
  gap: 12px;
  flex-direction: column !important;
  height: 100%;
}

.pageHeader, .pageRole {
  width: 100%; 
  padding: 10px;
  padding-left: 15px !important;
  background-color: #ffffff11;
  border-radius: 5px;
  text-align: center; 
  font-size: 45px; 
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.formContent {
  word-break: break-all;
  padding: 10px 15px; 
  background: #1e1e1e;
  border-radius: 5px;
  height: auto; 
  max-width: 80%; 
  margin: 20px auto; 
  box-sizing: border-box; 
  display: block; 
}


label {
  color: #fff;
}

.datatable-info {
  color: #fff;
}

.datatable-table a {
  color: #fff !important;
}

.datatable-table td {
  color: #fff !important;
}

.datatable-input {
  background: transparent;
  border: 2px solid #0b0b0b;
  color: #fff !important;
  border-radius: 4px;
  padding: 14px;
}
.datatable-input::placeholder {
  color: #6e6e6e;
}

.datatable-pagination li a {
  border-radius: 5px;
  color: #fff !important;
  background-color: #252525;
}

.datatable-pagination li a:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.datatable-pagination li.active a {
  color: #000 !important;
  background-color: #c5c5c5;
}

.datatable-selector {
  background: transparent;
  border: 2px solid #0b0b0b;
  color: #fff !important;
  border-radius: 4px;
  padding: 14px;
}

.datatable-empty {
  color: #fff;
}
.header {
  width: 100%;
  height: auto;
  background: #1e1e1e;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  z-index: 9;
  border-bottom: 2px solid #0b0b0b;
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  padding: 10px;
  border-radius: 0px;
  padding-right: 12px;
  transition: all 0.5s;
  min-width: 280px;
  border-right: 2px solid #0b0b0b;
}

.header .menu:hover {
  background-color: #ffffff0c;
}

.header .menu img {
  width: 35px;
}

.menuText {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 2px #000000;
  font-family: "Titillium Web", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

select > option {
  color: #000 !important;
}

.title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Titillium Web", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 10px;
}

.container {
  background: #1e1e1e;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex !important;
  overflow-x: auto;
  overflow-y: scroll;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content {
  padding: 20px !important;
  width: 100%;
}

body.active .wrapper {
  margin-left: -280px;
}

.wrapper {
  min-width: 280px;
  height: 100%;
  transition: all 0.8s !important;
}

.container .scanbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container .scanbar form {
  display: flex;
  align-items: end;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.inputDiv {
  display: flex;
}
.inputDiv div {
  margin: auto;
  align-items: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px !important;
  max-width: 480px;
}


.inputDiv div label {
  font-size: 34px;
  font-family: "Titillium Web", sans-serif;
}
.inputDiv div input {
  font-size: 22px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 14px;
  padding: 24px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(255, 255, 255);
}

.scanbar .submit-container {
  display: flex;
}

.text-white {
  color: #fff !important;
}

button {
  cursor: pointer;
  border-radius: 14px;
  padding: 24px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid #454444;
  background: #0b0b0b;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 34px;
}

.scanbar .submit-container a.button {
  cursor: pointer;
  border-radius: 14px;
  padding: 24px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid #454444;
  background: #0b0b0b;
  font-family: "Titillium Web", sans-serif;
  font-size: 34px;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}

a.button {
  cursor: pointer;
  border-radius: 14px;
  padding: 24px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid #454444;
  background: #0b0b0b;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.datatable-dropdown label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2e2e2e;
}
.footer {
  width: 100%;
  padding: 14px;
  background-color: #000;
  display: flex;
  justify-content: center;
  z-index: 2;
  border-top: 2px solid #0b0b0b;
}

.datatable-container {
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 12px;
}
.datatable-container #myTable {
  margin: 0px !important;
}

.footerText {
  margin-top: auto;
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  position: relative;
  z-index: 2;
}

body.active .wrapper .sidebar {
  left: -280px;
}

.wrapper .sidebar {
  background-color: #1e1e1e;
  position: fixed;
  width: 280px;
  height: 100%;
  transition: all 0.5s ease;
  border-right: 2px solid #0b0b0b;
  display: flex;
}
.wrapper .sidebar ul {
  width: 100%;
}
.wrapper .sidebar ul li {
  padding: 20px;
  border-bottom: 2px solid #0b0b0b;
  transition: all 0.5s;
}
.wrapper .sidebar ul li:hover {
  background-color: #70707025;
}

.wrapper .sidebar ul li a {
  color: rgb(241, 237, 237);
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: flex;
}

.wrapper .sidebar ul li a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: rgba(39, 3, 125, 0.95);
  display: flex;
  flex-direction: row;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}


#myTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: "Goldman", sans-serif;
  min-width: 400px;
}


#myTable thead tr {
  background-color: #0b0b0b;
  color: #ffffff;
  text-align: left;
  font-family: "Goldman", sans-serif;
  padding: 3px;
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
}


#myTable tbody tr {
  border-bottom: 1px solid #dddddd2a;
  font-family: "Goldman", sans-serif;
}

#myTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f309;
}

#myTable tbody tr:last-of-type {
  border-bottom: 2px solid #0b0b0b;
}


#myTable td,
#myTable th {
  padding: 12px 15px;
  font-family: "Goldman", sans-serif;
}


#myTable tbody tr:hover {
  color: #0b0b0b;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

#myTable thead tr th {
  font-family: "Goldman", sans-serif;
}

.datatable-top {
  padding: 0px !important;
}

#summary {
  margin: 20px;
  padding: 15px;
  background-color: #1a1a1a; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff; 
  font-family: "Goldman", sans-serif; 
}

#summary p {
  margin-bottom: 10px;
  font-size: 18px; 
}

#summary span {
  font-weight: 700; 
  color: #c5c5c5; 
}

#checkButton {
  padding: 10px 20px; 
  font-size: 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  background-color: #292929; 
  color: #fff; 
  transition: background-color 0.3s ease; 
}

#checkButton:hover {
  background-color: #3d3d3d; 
}

#healthStatus {
  margin-top: 20px; 
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #ffffff; 
  width: 100%; 
  max-width: 600px; 
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  background: rgb(20 83 45);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSplash {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000a1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loadingSplash.active {
  display: flex !important;
}

.dot {
  display: none;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
}
.dot.active {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-white {
  color: white;
}

.textArea {
  background: #2e2e2e;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  color: white;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 10px;
}

.mt-6 {
  margin-top: 30px;
}

.introductions {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 1.9em; 
  background-color: #333; 
  color: #f3f3f3; 
  margin: 10px 0; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}
.introductions p:before {
  content: "\2022"; 
  font-size: 1.5em; 
  line-height: 0; 
  margin-right: 10px; 
  vertical-align: middle; 
  color: #999; 
  display: inline-block; 
}
.introductions p:first-child {
  text-transform: uppercase;
}



.w-full {
  width: 100%;
}
.stages_container input {
  background: transparent;
  border: 2px solid #0b0b0b;
  color: #fff !important;
  border-radius: 4px;
  padding: 14px;
}

.stages_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-results-container {
  color: white;
}

.summary {
  background: #1e1e1e;
  border-radius: 12px;
  width: 100%;
  color: white;
}

.loadTestResult a {
  background: #ffffff11;
  padding: 6px;
  border-radius: 12px;
}

#urlInput0 {
  color: #fff; 
  font-family: 'Titillium Web', sans-serif; 
  margin-bottom: 20px; 
  font-size: 34px;
}

#urlInput0 label {
  display: block; 
  font-size: 18px; 
  margin-bottom: 5px; 
}

#urlInput0 input[type="number"] {
  width: 100%; 
  padding: 8px 10px; 
  margin-bottom: 10px; 
  border: 1px solid #555; 
  background: #222; 
  color: #fff; 
  border-radius: 4px; 
  font-family: 'Titillium Web', sans-serif; 
  box-sizing: border-box; 
}

#urlInput0 input[type="number"]:focus {
  outline: none; 
  border-color: #888; 
}
